<form action="{:request()->url()}" autocomplete="off" class="layui-form layui-card" data-auto="true" method="post">
    <div class="layui-card-body padding-left-40">
        <div class="layui-form-item relative block">
            <span class="color-green font-w7">回复</span>
            <span class="color-desc margin-left-5">Feedback Reply</span>
            <label class="relative block">
                <textarea class="layui-textarea" name="reply" placeholder="请输入回复">{$vo.reply|default=''}</textarea>
            </label>
        </div>
    </div>

    <div class="hr-line-dashed"></div>
    {notempty name='vo.type'}<input name='type' type='hidden' value='{$vo.type}'>{/notempty}
    {notempty name='vo.code'}<input name='code' type='hidden' value='{$vo.code}'>{/notempty}
    {notempty name='vo.id'}<input name='pid' type='hidden' value='{$vo.id}'>{/notempty}

    <div class="layui-form-item text-center">
        <button class="layui-btn" type='submit'>保存数据</button>
        <button class="layui-btn layui-btn-danger" data-close data-confirm="确定要取消编辑吗？" type='button'>取消编辑</button>
    </div>
</form>